table {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
table tr td{
	color:white;
	border:0px;
}
.shoutwindow {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	float:left;
	width:100%;
}
input {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	border: 1px solid;
}
.sb a:link, .sb a:visited{
	background:none;
	width:15px;
	float:left;
	display:block;
	border:none;
}
