@CHARSET "UTF-8";

article, aside, details, dialog, figcaption, figure, footer, header, hgroup, nav, section {
	display: block;
}

audio, canvas, embed, keygen, meter, progress, video {
	display: inline-block;
}

[hidden] {
	display: none;
}

html{
	color:#171717;
	background: #e7e7e7;
	background: #ff0004;
	background: -moz-radial-gradient(center, ellipse cover,  #ff0004 0%, #000000 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ff0004), color-stop(100%,#000000));
	background: -webkit-radial-gradient(center, ellipse cover,  #ff0004 0%,#000000 100%);
	background: -o-radial-gradient(center, ellipse cover,  #ff0004 0%,#000000 100%);
	background: -ms-radial-gradient(center, ellipse cover,  #ff0004 0%,#000000 100%);
	background: radial-gradient(ellipse at center,  #ff0004 0%,#000000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0004', endColorstr='#000000',GradientType=1 );
}
body{
	color:#e7e7e7;
}
tr th{text-align:left;padding-bottom: 5px;text-shadow: 1px 1px 1px #D1D1D1;}
tr td{color:#A8A8A8;}
a{color:#e7e7e7;}
p{text-indent:10px;}
#NAGLOWEK{
	height:200px;
	color:#e7e7e7;
	font-size:75px;
	text-align:center;
}
#MENU ul{
	background:#084d6b;//084d6b/4275BE;
	width:100%;
	margin:0;
	padding:10px 0;
	border-bottom:1px solid #3E7DDD;border-top:1px solid #3E7DDD;
}

#MENU ul,#MENU ul li{
	list-style:none;
	vertical-align:middle;
}
#MENU ul li{
	display:inline-block;
	margin:auto;
	width:19%;
	text-align:center;
}
#MENU ul li a:link,#MENU ul li a:visited{
	color:#e2e2e2;
	text-shadow:0px 0px 5px #2B59A1;
	text-decoration:none;
	font-weight:900;
	font-size:24px;
	font-family:sans-serif;	
	padding:10px 0;
	transition:color 2s;
	-moz-transition: color 2s;
	-webkit-transition: color 2s;
	-o-transition: color 2s ;	
}
#MENU ul li a:hover{
	color:#e7e7e7;
	text-shadow:2px 2px 7px black;
}
#TRESC{
	overflow:hidden;
}
#contentTresc{

}
#zbiorniki{
	width:65%;
	display:inline-block;
	border-right:2px solid gray;
}
.SBR{
	width:100%;
	height:200px;
	display:inline-block;
}
.phase{
	height:20%;
	border:1px ridge rgba(255,255,255,.2);
	padding:3px 5px;	
	background:black;
}
.phase span{
	padding: 0 10px;
	border-left:1px ridge gray;
	float:right;
	width:20%;
	text-align:center;
}
.active{
	padding:7px 5px; 	
	font-size:130%;
	border:1px solid rgba(0,255,0,.3);
}
.times2{
	float:right;
	width:20%;
}
.btn{
	cursor:pointer;
}
.red{
	background:red;
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 1%,rgba(0,0,0,0.4) 50%,rgba(0,0,0,0.3) 100%) , red;
	background: linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 1%,rgba(0,0,0,0.4) 50%,rgba(0,0,0,0.3) 100%) , red;
}
.green{
	background:green;
	background: background: -webkit-linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.7) 100%) , green;
background: linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 1%,rgba(0,0,0,0.4) 50%,rgba(0,0,0,0.3) 100%) ,green;
}
.gray{
	background:gray;
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 1%,rgba(0,0,0,0.4) 50%,rgba(0,0,0,0.3) 100%) ,gray;
background: linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 1%,rgba(0,0,0,0.4) 50%,rgba(0,0,0,0.3) 100%) ,gray;
}
.cykl{
	display:inline-block;
	width:55%;
}
.zbiornik{
	border-radius:0 0 10px 10px;
	border: 5px solid black;
	border-top:none;
	background:gray;
	width:15%;
	display:inline-block;
	vertical-align:top;
	height:75%;
	margin: 0 10px;
}
.zbiornik div{
	height:50%;
	border-bottom:1px ridge black;
}
.zbiornik.ZBRP div{
	height:19.6%;
	border-bottom:1px ridge black;
}
.zbiornik.ZBRB div{
	height:33%;
	border-bottom:1px ridge black;
}
.zbiornik .low{border-radius:0 0 8px 8px;}
.zbiornik img{width:40px;height:40px;}
.zbiornikInfo{
	padding:5px;
	background: -webkit-linear-gradient(top, rgba(242,249,254,1) 0%,rgba(214,240,253,1) 100%);
	width:10%;
	display:inline-block;
	vertical-align:top;
}
.zbiornikInfo div{
	padding:2px;
	border:1px solid rgba(0,0,0,.7);
	border-radius:1px;
	margin-top:3px;
}
.ZBRPa img{width:32px;height:32px;}
.zZBR{width:10%}
.zZBR img{width:30px;height:30px;margin:0 5px;}
.zbrTitle{
	font-size:18px;
	color:gray;
	margin:10px;
	
	width:20%;
}

#info{width:34%;display:inline-block;overflow:hidden;vertical-align:top;}
.infoContent{height:600px;overflow-y:scroll;}
.infoDay{border:1px solid black;margin:5px;}
.infoItem{border-bottom:1px solid gray;font-size:14px;}
.infoItem .itemDay{display:inline-block;text-align:center;font-size:18px;font-weight:bold;width:100%;padding:10px 0;}
.infoItem .itemDT{display:inline-block;width:30%;}
.infoItem .itemDate{display:inline-block;width:20%;color:rgba(255,255,255,.7);}
.infoItem .itemTime{display:inline-block;width:25%;color:rgba(255,255,255,.7);}
.infoItem .itemTitle{display:inline-block;width:50%;color:rgba(255,255,255,.9);font-size:16px;}
.black3d{
background: rgb(69,72,77);
background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1)));
background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
background: -o-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
background: -ms-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 );
	
}
#popup{
	display:none;
	position:absolute;
	top:0px;
	left:0px;
	background:rgba(0,0,0,.3);
	width:100%;
	height:100%;
	z-index:10;
}
#popupContent{
	background:rgba(0,0,0,.8);
	width:35%;
	height:25%;
	margin:15% auto;
	padding:5%;
}
#dateAndTime{
	padding:5px;
}
#dateAndTime div:nth-child(n){
	display:inline-block;
	vertical-align:middle;
	margin:2px;
}
#time{
	font-size:40px;

}
#time span{
	
	margin:0 1px;
	padding:1px;
}
#date{font-size:20px;margin-left:10px;}
#date div:nth-child(n){display:block;}
#plcState{background:url(img/monitor6.png);width:48px;height:48px;}
#todoIcon{text-shadow:1px 1px 1px black;background:url(img/jobs.png);width:48px;height:48px;font-size:20px;text-align:center;}
#alarmIcon{text-shadow:1px 1px 1px black;background:url(img/alarms.png);width:48px;height:48px;font-size:20px;text-align:center;}

#TRESC article{
	height:290px;
	margin:5px 0;
}
#TRESC h1{
	text-align:center;
}
#OBECNI table, #FOOD table{
	width:100%;
}
#OBECNI tr th, #FOOD tr th{
	width:25%;
}
#KONTAKT{
	
}
#INFORMATIONS{
	width:100%;
	padding:10px;
}
#VISITORS,#PEOPLE,#COUNTDOWN{
	
	display:inline-block;
	width:30%;
	margin:2px;
	padding:10px;
	font-size:35px;
	text-align:center;
	background:#272727;
	border:1px solid #333;
	background: #333333;
	background: -moz-linear-gradient(top,  #333333 0%, #272727 36%, #272727 72%, #333333 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333333), color-stop(36%,#272727), color-stop(72%,#272727), color-stop(100%,#333333));
	background: -webkit-linear-gradient(top,  #333333 0%,#272727 36%,#272727 72%,#333333 100%);
	background: -o-linear-gradient(top,  #333333 0%,#272727 36%,#272727 72%,#333333 100%);
	background: -ms-linear-gradient(top,  #333333 0%,#272727 36%,#272727 72%,#333333 100%);
	background: linear-gradient(to bottom,  #333333 0%,#272727 36%,#272727 72%,#333333 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#333333',GradientType=0 );
}
#VISITORS:first-line,#PEOPLE:first-line,#COUNTDOWN:first-line{
	font-size:16px;
}
#STOPKA{
	margin:12px;

	text-align:center;
}
.gradient{
background: -webkit-linear-gradient(top,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.5) 50%,rgba(0,0,0,0.1) 100%);
background: linear-gradient(to bottom,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.5) 50%,rgba(0,0,0,0.1) 100%);

}